@tailwind base;
@tailwind components;
@tailwind utilities;


/* ========================= */
* {
  scroll-behavior: smooth;
}

@layer base {
  html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .h2 {
    @apply text-6xl font-bold text-center text-[#001b5e] mb-2;
  }
}

body {
  background: #e3f6e0;
}

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: inherit; 
}

body::-webkit-scrollbar-thumb {
  background-color: #001b5e;
  border-radius: 3rem;
  height: 20px;
}

input {
  outline-color: rgb(194, 191, 191);
}

textarea {
  outline-color: rgb(194, 191, 191);
}

